<div class="content" role="main">
  <input type="text" name="name">

  <div id="container">
    <input type="checkbox" class="check" name="checkbox1">
    <br>
    <input type="checkbox" class="check" name="checkbox2">
    <br>
    <input type="checkbox" class="check" name="checkbox3">
    <br>
    <input type="checkbox" class="check" name="checkbox4">
    <br>
    <input type="checkbox" class="check" name="checkbox5">
    <br>
    <input type="checkbox" class="check" name="checkbox6">
    <br>
    <input type="checkbox" class="check" name="checkbox7">
  </div>
</div>

